@page "/"

<PageTitle>Generate Living Hinge</PageTitle>

<h1>Generate Living Hinge</h1>

@if (Loading)
{
    <p>Loading...</p>
}

<button disabled="@Loading" @onclick="Generate">Generate Now</button>

<pre>
@SvgAsText
</pre>