@page "/"

<PageTitle>Generate Living Hinge</PageTitle>

<h1>Generate Living Hinge</h1>

@if (Loading)
{
    <p>Loading...</p>
}

<label for="height">HeightInInches:</label>
<input type="number" id="height" @bind="HeightInInches" />

<br />

<label for="diameter">DiameterInInches:</label>
<input type="number" id="diameter" @bind="DiameterInInches" />

<button disabled="@Loading" @onclick="Generate">Generate Now</button>

<pre>
@SvgAsText
</pre>